.add-project-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .add-form-content {
  display: flex;
  flex-direction: column;
  gap: 5px;

  input, textarea{
    border-radius: 2px;
    background: rgba(103, 193, 245, 0.2);
    padding: 5px 10px;
    border: none;
    color: white;
    min-width: 200px;
  }
  
  button {
    width: 100%;
    color: #fff;
    background-color: #1a9fff;
    padding: 6px 12px;
    font-size: 1.25rem;
    border: none;
    border-radius: 2px;
    &:hover {
      background-color: #0bf;
    transition: 0.3s;
    }
  }
}
}
