.project-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 20px;

    .back-btn {
        margin-bottom: 20px;
        border-radius: 2px;
        background: rgba(103, 193, 245, 0.2);
        padding: 5px 10px;
        border: none;
        color: #67c1f5;

        &:hover {
            transform: scale(1.2);
            transition: 300ms;
        }
    }

    .project-item {

        img {
            width: 300px;
            height: 150px !important;
        }
        .project-buttons {
            display: flex;
        justify-content: space-between;

            button {
                color: #fff;
            background-color: #1a9fff;
            padding: 6px 12px;
            border: none;
            border-radius: 2px;

            &:hover {
                background-color: #0bf;
            transition: 0.3s;
                }
            }
        }
    }
}

