.ReactModal__Overlay {
  margin: 0 auto;
  max-width: 1240px;

  .ReactModal__Content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    max-height: 70vh;
    max-width: 50vw;
    margin: auto;
    color: white;
    background: #1b2838;

    img {
      max-width: 70%;
      object-fit: cover;
    }

    button {
      width: 100px;
    }
  }
}
